<div style="white-space: nowrap;">
  <%= render(:partial => "shared/object", :locals => {:object => @obj}) %> :
  <%= render(:partial => "shared/object", :locals => {:object => @obj.class}) %>
  <hr/>
</div>
