<style type="text/css" media="screen">
    .code-area {
        position: relative;
        width: 100%;
        height:100px;
        border: 1px solid #DDD;
    }
</style>

<div class="dropdown-menu object-view-reset" <%= id ? "id=#{id}" : "" %>>
  <fieldset class='textbox' style="padding:10px">
    <input type="hidden" id="id" name="id" value="-1" />

    <form style="margin: 0px" class="form-print-it">
      <span id="code-editor" class="pull-left code-area"></span>
      <div style="clear: both;"></div>
      <div id="object-code-container-result" style="margin-bottom: 0px;"></div>
      <div style="margin-top: 10px; white-space: nowrap;">
        <button class="btn btn-primary object-code-do-it" type="button">Do it</button>
        <button class="btn btn-primary object-code-print-it" type="button">Print it</button>
        <button class="btn btn-primary object-code-inspect-it" type="button">Inspect it</button>
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn active" id="object-code-lang-ruby" data-toggle="buttons-checkbox" type="button">Ruby</button>
          <button class="btn" id="object-code-lang-smalltalk" data-toggle="buttons-checkbox" type="button">Smalltalk</button>
        </div>
      </div>
    </form>
  </fieldset>
</div>

<script>
  $(document).ready(function() {
    var theme = "ace/theme/clouds";
    var editor = ace.edit("code-editor");
    editor.setTheme(theme);
    editor.getSession().setMode("ace/mode/ruby");

    $(document).on("click", ".object-dropdown-toggle", function(event) {
      var menu = $("#object-dropdown-menu");
      var dropdownSpan = $(event.target).closest(".dropdown")

      menu.appendTo(dropdownSpan);
      menu.find("#id").val(dropdownSpan.data("id"));
      // menu.find("#code").val("");
    });

    // workaround for jsPlumb and jQuery UI interfering with event handling
    if (typeof jsPlumb !== 'undefined') {
      $("#code-editor").mousedown(function (event) {
        event.preventDefault();
        return false;
      });
    }

    $(".object-code-print-it").click(function (event) {
      var form = $(event.target).closest("form");
      var language = form.find("#object-code-lang-ruby").hasClass("active") ? "ruby" : "smalltalk";
      var id = form.parent().find("#id").val();
      var divContainer = $(form).parent().find("#object-code-container-result");
      
      instancePrintIt(divContainer, id, editor.getValue(), language, function(r) {});
    });
  });
</script>
