<span class="object-inline-typed-view" data-code-ruby="">
  <a href="/ClassExplorer/index/<%= object.object_id %>?maxItems=10">
    <b class="icon-list-alt"></b>
  </a>
  <% begin %>
    <%= object_dropdown_begin(:object => object) %>
      <%= object.inspect %>
    <%= object_dropdown_end(:object => object) %>
  <% rescue %>
    <span>(error)</span>
  <% end %>
</span>
