/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.code-editor-textfield {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
  margin-bottom: 0px;
}

.alert .object-inline-view-view > a {
  color: #ffffff;
  text-decoration: none;
 text-shadow: 0 1px 0 #080808;
}

.alert .object-inline-typed-view > a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #080808;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}

