.component {
	background-color: white;
	color: black;
	padding: 0.5em; 
}

.object-view-reset {
  white-space: normal; 
  opacity: 1.0; 
  filter: alpha(opacity=100);
}

.object-ivname-box {
  border: 1px solid #346789;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.window { 
	border: 2px solid #346789; 
	z-index: 20; 
	position: absolute; 

  box-shadow: 2px 2px 19px #e0e0e0;
  -o-box-shadow: 2px 2px 19px #e0e0e0;
  -webkit-box-shadow: 2px 2px 19px #e0e0e0;
  -moz-box-shadow: 2px 2px 19px #e0e0e0;
}

.window-mouse-out {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.object-drag-dummy {
  border: 2px solid #346789;
  padding: 0.5em;
}

.label {
	border: 1px solid #346789; 
	padding: 8px;
}

.label:hover {
  border-color: #5d94a6;	
}

.l1 { 
	font-size: 13px;
}

._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }
._jsPlumb_overlay { z-index:6; }

